@CHARSET "ISO-8859-1";

.root {
	-fx-background-image: url("background.jpg");
}

.txt_title {
	/*
	-fx-font-size: 20px;
	-fx-font-weight: bold;
	*/
	-fx-font-size: 32px;
   -fx-font-family: "Arial Black"; 
   -fx-fill: #818181;
   -fx-effect: innershadow(  three-pass-box  , rgba(0,0,0,0.7) , 6, 0.0 , 0 , 2 );
}

.txt_label_login {
	-fx-font-size: 12px;
    -fx-font-weight: bold;
    -fx-text-fill: #333333;
    -fx-effect: dropshadow( gaussian , rgba(255,255,255,0.5) , 0,0,0,1 );
}


.txt_Stream {
	-fx-font-size: 20px;
	-fx-font-weight: bold;
	-fx-background-color:#FF0000;
}

.button {
	-fx-font-family: "Arial";
	-fx-font-size: 15px;
	-fx-font-weight: bold;	
	-fx-text-fill: #383640;
}

.button:hover {
	-fx-background-color: linear-gradient(#2A5058, #61a2b1);
	-fx-text-fill: #ffffff;	
}

.table-row-cell:empty {
    -fx-background-color: lightyellow;
}
 
.table-row-cell:empty .table-cell {
    -fx-border-width: 0px;
}

.label-errMsg {
  -fx-fill: FIREBRICK;
  -fx-font-weight: bold;
  -fx-text-fill: #ff0000;  
}
